@import '../base/global';

.header-container {
  background-color: $off-black;
  display: flex;
  justify-content: center;
}

.header {
  font-family: sans-serif;
  color: #fff
}
@media (max-width: $screen-lg-min) {
  .header{
    font-size: 25px;
  }
}

@media (max-width: $screen-md-min) {
  .header{
    font-size: 16px;
  }
}
