
@import '../base/global';

.list {
  display: flex;
  flex-direction: column;
}

.list-item {
  display: flex;
  background-color: $white;
  border-bottom: solid 2px black;
}

.active {
  background-color: #778899 !important;
  color: $white;
}

.list-item:last-child {
  border: none;
}

.repos-list {
  min-width: 350px;
}

.issues-list {
  min-width: 500px
}
.issues-list-item {
  display: flex;
  background-color: $white;
  border-bottom: solid 2px black;
}
