<<<<<<< HEAD

@import '../base/global';
=======
.active {
  background: rgb(207, 207, 207) !important;
}
>>>>>>> ff37e53... config redux store && refactor list components

.list {
  display: flex;
  flex-direction: column;
}

<<<<<<< HEAD
<<<<<<< HEAD
.list-item {
  display: flex;
  background-color: $white;
  border-bottom: solid 2px black;
}

.active {
  background-color: #778899 !important;
  color: $white;
}

.list-item:last-child {
  border: none;
}

.repos-list {
  min-width: 350px;
  cursor: pointer;
}

.issues-list {
  min-width: 500px
}
.issues-list-item {
  display: flex;
  background-color: $white;
  border-bottom: solid 2px black;
}

@media (max-width: $screen-lg-min) {
  .repos-list {
    min-width: 250px;
  }

  .issues-list {
    min-width: 400px;
  }
}
@media (max-width: $screen-md-min) {
  .repos-list {
    min-width: 180px;
  }

  .issues-list {
    min-width: 300px;
  }
}
=======
// .list-item {
=======
>>>>>>> 1d1c2dd... added loader

.repos-list {
  min-width: 350px;
}

<<<<<<< HEAD
// }
>>>>>>> ff37e53... config redux store && refactor list components
=======
.issues-list {
  min-width: 500px
}
>>>>>>> 1d1c2dd... added loader
