<<<<<<< HEAD
.loader-container {
  margin:  15% 40% 15% 40%;
}

.loader {
  animation: rotate 1s linear infinite;
  color: #73d4fa;
=======
.loader {
  animation: rotate 2s linear infinite;
>>>>>>> 1d1c2dd... added loader
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.loader circle {
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
