//colors
$highlighted: #dfeaf5;
$off-black: #24292e;
$white: #fff;

// media queries
$screen-sm-min: 576px;
$screen-md-min: 768px;
<<<<<<< HEAD
$screen-lg-min: 1000px;
=======
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
>>>>>>> origin/develop
