//colors
<<<<<<< HEAD
<<<<<<< HEAD
$highlighted: #dfeaf5;
$off-black: #24292e;
$white: #fff;
=======
$highlighted: #6a737d;
<<<<<<< HEAD
//
>>>>>>> 2c4dbb3... add styles to issue card
=======
=======
$highlighted: #f6f8fa;
>>>>>>> 403d5bd... add prioritize issues functionality
$off-black: #24292e;

>>>>>>> 7e9c1a9... configure styles for components

// media queries
$screen-sm-min: 576px;
$screen-md-min: 768px;
<<<<<<< HEAD
$screen-lg-min: 1000px;
=======
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
>>>>>>> 2c4dbb3... add styles to issue card
